
body{
    margin:0px;
    /* background-color: #BB2C27; */
}

header{
    height:60px;
    background-color: #BB2C27;
    /* background-color: #FA3A34; */
}
#temp{
    margin-left: 15%;
    color:white;
    font-size: 18px;
    position: absolute;
}
#checkWeather{
    background-color:white;
    color:black;
    font-size: 15px;
    width:25%;
    height:200px;
    margin-left: 70%;
    margin-top: 2%;
    border:1px solid white;
    position: absolute;
    /* z-index: 20; */
}

#brand{
    float: left;
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 1%;
}
.login{
    float: right;
    width: 30%;
    margin-right: 5%;
    margin-top: 1%;
}
.login > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}
.socialLogo{
    height: 50px;
}

#search{
    height: 450px;
    background-image: url('images/foodwallpaper.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;
}
.logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 2%;
    font-size: 90px;
    position: absolute;
    
}
.logo span{
    margin-left: 20%;
    margin-top: 10%;  
}
#heading{
    font-size:50px;
    color:white;
    font-weight: bold;
   margin-top: 15%;
   margin-left: 30%;
   position:absolute;
}
.dropdown{
    width:50%;
    height:60px;
    /* border:2px solid white; */
    margin-left: 28%;
    margin-top: 22%;
    position: absolute;
}
select{
    height: 60px;
    width:40%;
    font-size: 20px;
    text-align: center;
}
.select2{
    width:59%;
}
#quicksearch{
    width:80%;
    /* background-color: #d9b6ca; */
    /* background-color: #BB2C27; */
    margin-left:10%;
    margin-top:2%;
    display: inline-block;
}
.quickHeading{
    color:#3b2632;
    font-size:30px;
    font-weight:bold;
    display: block;
    margin-left:2%;
}
.quickSubheading{
    color:gray;
    font-size:20px;
    line-height: 2;
    margin-left:2%;
}
.cardContainer{
    /* height:180px;
    width:90%;
    margin-left: 2%;
    margin-top: 3%;
    float: left; */
    /* border: 2px solid black; */
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
}
.card img{
    border-radius: 5px;
    height:200px;
}
.cardContent{
    margin-top: 14px;
    width: 80%;
    /* border: 2px solid black; */
}
.detailsDiv{
    text-align: center;
    display: flex;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
}
.detailsDiv div{
    float: left;
    /* margin-left: 1%; */
    color:#BB2C27;
    /* border:2px solid black; */

}


.heading{
    font-size: 15px;
    font-weight: 500;
    color:black;
}
.subHeading{
    color: #686b78;
    font-size: 14px;
    margin-top: 4px;
}


.cardContent1{
    width: 52%;
    float: left;
}
.cardContent1 > img{
    width: 100%;
    height:100%;
}
.cardContent2{
    width:45%;
    /* float:left; */
    margin-left: 3%;
    margin-top: 15%;
}
.contHeading{
    font-size: 25px;
    font-weight: bold;
    color:#3b2632
}
a{
    text-decoration: none;
}
.contHeading > a{
    color:#3b2632
}
.contSubHeading{
        font-size:20px;
        color:gray
    }
footer{
    height: 200px;
    /* background-color: #3b2632; */
    background-color: #BB2C27 ;
    color: white;
    text-align: center;
    margin-top: 2%;
   
}
.footText{
    font-size: 20px;
}
ul{
    list-style-type: none;
}
.footDiv{
    display: inline-block;
    width:32%;
    border-right:2px solid white;
}
.noBorder{
    border:none;
}

